.about {
    display: flex;
    justify-content: center;
}

.about .container {
    display: flex;
    max-width: 1158px;
    padding: 5%;
    background-color: white;
    border-radius: 50px;
}

.about img {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.about h1 {
    font-size: 51px;
    font-weight: 200px;
    line-height: 100%;
    margin-bottom: 25px;
}

.about p {
    font-size: 16px;
    font-weight: 100px;
    line-height: 225%;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

button a {
    color: #040000;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .about .container {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about .container {
        display: flex;
    }
}