.hero {
    background-color: #649CCF;
    margin: 0;
}

.hero h1 {
    color: #F4F7FC;
    font-size: 80px;
    line-height: 92px;
    margin: 0;
}

.hero p {
    color: #F4F7FC;
    font-size: 20px;
    line-height: 163.2%;
    max-width: 500px;
}

.hero .container {
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(-40px);
    animation: 2s slide-in ease-out forwards;
}

.profile {
    margin: 0px;
    opacity: 0;
    transform: translateX(40px);
    animation: 2s slide-in ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(20);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .container {
        display: block;
    }
    .profile {
        display: none;
    }
    .text_container {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 80px;
        line-height: 80px;
        margin: 0;
    }
    .hero p {
        font-size: 16px;
    }
    .container {
        display: flex;
    }
    .text_container {
        padding-top: 5%;
        padding-bottom: 1%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: none;
    }
    .hero .profile {
        display: flex;
        width: 500px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        display: flex;
    }
    .profile {
        width: 640px;
    }
}