.recommendation_card {
    max-width: 380px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 10%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 40px;
    animation: 2s slide-in forwards;
}

/* stagger the card animations */
.recommendation_card:nth-child(1) {
    animation-delay: 0s;
}
.recommendation_card:nth-child(2) {
    animation-delay: 0.2s;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.recommendation_card p {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 200%;
}

.recommendation_container {
    display: flex;
    flex-direction: column;
}

.name_container {
    display: flex;
    justify-content: flex-end;
}

.reviewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: -25px;
    border-radius: 15px;
    padding: 5%;
    margin-right: 30px;
}

.name {
    font-size: 16px;
    font-weight: 300;
}

.company {
    margin-top: 5px;
    font-weight: 300;
}

.position {
    margin-top: 5px;
    font-weight: 300;
}